.w3rcontainer{
    border: 1px solid #cccfdb;
    border-radius: 2px;
 } 
 .hover-underline-animation {
   display: inline-block;
   position: relative;
   color: #ffffff;
 }
 
 .hover-underline-animation:after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 1px;
   bottom: 0;
   left: 0;
   background-color: rgba(255, 255, 255, 0.8);
   transform-origin: bottom right;
   transition: transform 0.1s ease-out;
 }
 
 .hover-underline-animation:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;
 }
 